@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Kanit:wght@200;400&display=swap');

:root {
  --font-family: "Comfortaa", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #60e794 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(89.97deg, #ffffff 1.84%, #36e900 102.67%);
  
  --color-bg: #FFF;
  --color-footer:#5ebb2f;

  /*--color-footer : #031B34;**/
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
	--c-white: #fff;
	--c-black: #000;

	--c-ash: #eaeef6;
	--c-charcoal: #a0a0a0;
	--c-void: #141b22;
	--c-fair-pink: #FFEDEC;
	--c-apricot: #FBC8BE;
	--c-coffee: #754D42;
	--c-del-rio: #917072;

	--c-java: #1FCAC5;
	--c-titan-white: #f1eeff;
	--c-cold-purple: #a69fd6;
	--c-indigo: #6558d3;
	--c-governor: #4133B7;
}